@media (min-width: 2560px) {
    .modal-dialog {
        max-width: 50%; 
    }
}
@media (min-width: 1920px) {
    .modal-dialog {
        max-width: 50%; 
    }
}

@media (min-width: 1366) {
    .modal-dialog {
        max-width: 50%; 
    }
}
@media (min-width: 1080px) {
    .modal-dialog {
        max-width: 50%; 
    }
}