@media (min-width: 2560px) {
    .modal-dialog {
        max-width: 50%; 
    }
}
@media (min-width: 1920px) {
    .modal-dialog {
        max-width: 50%; 
    }
}

@media (min-width: 1366) {
    .modal-dialog {
        max-width: 50%; 
    }
}
@media (min-width: 1080px) {
    .modal-dialog {
        max-width: 50%; 
    }
}


@media (max-width: 768px) {
    .pie-legend-container {
        display: none;
    }
}

@media (max-width: 767px) {
    .step-indicator {
        flex-direction: column; 
    }

    .step {
        margin: 5px 0;
        max-width: 100%;
    }
}
